In [120]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [121]:
df = pd.read_csv('./titanic_clean.csv')

In [122]:
df.sample(5, random_state=44)

     survived     sex    age  sibsp  parch     fare   class  embark_town
139         0  female  24.00      0      2  15.2458   Third    Cherbourg
231         0    male  59.00      0      0  13.5000  Second  Southampton
266         1    male  25.00      1      0   7.7750   Third  Southampton
246         1  female  24.00      0      2  14.5000  Second  Southampton
643         1  female   0.75      2      1  19.2583   Third    Cherbourg

In [123]:
df = pd.get_dummies(data=df, drop_first=True)

In [124]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [125]:
from sklearn.dummy import DummyClassifier

In [126]:
X = df.drop('survived', axis=1)
y = df['survived']

In [127]:
df['survived'].value_counts()

survived
0    549
1    340
Name: count, dtype: int64

In [128]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [129]:
y_train.value_counts() / len(y_train)

survived
0    0.618847
1    0.381153
Name: count, dtype: float64

In [130]:
y_test.value_counts() / len(y_test)

survived
0    0.61236
1    0.38764
Name: count, dtype: float64

In [131]:
from sklearn.linear_model import LogisticRegression


model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)
pred = model.predict(X_test)

print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.85      0.83      0.84       109
           1       0.75      0.77      0.76        69

    accuracy                           0.81       178
   macro avg       0.80      0.80      0.80       178
weighted avg       0.81      0.81      0.81       178

In [132]:
from sklearn.model_selection import cross_val_score

In [133]:
scores = cross_val_score(model, X_train, y_train, cv=10, scoring='accuracy')
scores.mean()

np.float64(0.805907668231612)